link(rel="stylesheet", href="/stylesheets/highlight/tomorrow.css")
script(src="/javascripts/highlight.pack.js")
script
    $(document).ready(function() {
        console.log('highlighting');
        $('pre code').each(function(i, e) {hljs.highlightBlock(e)});
    });

